In [1]:
mport numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [31]:
file = pd.read_csv("Dataset-master\Social_Network_Ads.csv")
file.tail()

      User ID  Gender  Age  EstimatedSalary  Purchased
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

In [3]:
x,y = file[['Age','EstimatedSalary']], file['Purchased']
x.head(),y.head()

(   Age  EstimatedSalary
 0   19            19000
 1   35            20000
 2   26            43000
 3   27            57000
 4   19            76000, 0    0
 1    0
 2    0
 3    0
 4    0
 Name: Purchased, dtype: int64)

In [16]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.2, random_state=2)

In [17]:
from sklearn.preprocessing import StandardScaler

In [18]:
sc = StandardScaler()
x1_train = sc.fit_transform(x_train)
x1_test = sc.fit_transform(x_test)

In [19]:
from sklearn.neighbors import KNeighborsClassifier

In [52]:
kn = KNeighborsClassifier(n_neighbors = 21)
kn = kn.fit(x_train, y_train)
pred2 = kn.predict(x_test)
pred2

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0], dtype=int64)

In [53]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [54]:
cm = confusion_matrix(y_test, pred2)
print(cm)

[[43  5]
 [11 21]]

In [55]:
acc = accuracy_score(y_test, pred2)
print(acc)

0.8

In [ ]:
S