In [ ]:
#lambda : used to define inline function i.e., at run-time

In [4]:
def sq():       #instead of defining a function we will use lambda keyword...
    return x*x

In [7]:
sq = lambda x:x*x
sq(6)

36

In [8]:
lam2 = lambda x,y : x+y
lam2(4,10)

14

In [9]:
lam3 = lambda x : x.upper()
lam3('Hi hello aur thanku chlte hai, fir milenge')

'HI HELLO AUR THANKU CHLTE HAI, FIR MILENGE'

In [10]:
lam4 = lambda x : x.lower()
lam4('HELLO I AM SHIKHAR, CODE NAME APEX')

'hello i am shikhar, code name apex'

In [11]:
lam5 = lambda x : x.swapcase()
lam5('Kithe Chalye Gopi Da Phool Ban k, Kudie Bdami Rang Ne')

'kITHE cHALYE gOPI dA pHOOL bAN K, kUDIE bDAMI rANG nE'

In [13]:
lam5('upper roller LOWER ROLLER')

'UPPER ROLLER lower roller'

In [15]:
lam6 = lambda x: x.isdigit()          #finds digit in string and gives True or False
l = input("Enter your message : ")
print(lam6(l))

Enter your message : Crown Cricket ka madam jii hum le jayenge.... Samji ya Samjaee
False

In [17]:
lam6('2019')

True

In [18]:
lam6('hello123')       #finds pure digits not alnum(string+digit)

False

In [20]:
#reduce function_________________________________________
#reduces arguments for an expression
#first install reduce library -> open anaconda prompt and write - conda install functools

In [21]:
#map
#forms a list for iterable items
#syntax : list(map(fun,iter))

In [22]:
items = [1,2,3,4,5]
squared = list(map(lambda x : x**2,items))
print(squared)

[1, 4, 9, 16, 25]

In [31]:
def sum(x):
    return x+1
l=[1,2,3,4,5]
d = list(map(sum,l))
print(type(d))
print(d)
e = map(sum,l)
print(type(e))
print(e)

<class 'list'>
[2, 3, 4, 5, 6]
<class 'map'>
<map object at 0x0000014EEDC7BF28>

In [32]:
l1 = ['mary' , 'shikhar' , 'honey singh' , 'lata mangeshkar']
len(l1[3])

15

In [33]:
list(map(len,l1))

[4, 7, 11, 15]

In [48]:

# l2 = "lower"
# list(map(l2.upper(),l2))

TypeError: 'str' object is not callable

In [49]:
#filter

In [55]:
arr = [10,20,3,4,5,6,7,8,9,10]

print(arr[4:])         #just slicing

[i for i in filter(lambda x : x>4,arr)]       #compare element

[5, 6, 7, 8, 9, 10]

[10, 20, 5, 6, 7, 8, 9, 10]

In [67]:
class data_science():
    def __init__(self, name, id, emp_password):
        self.name = name
        self.id = id
        self.emp_password = emp_password
        #eturn self.name, self.id, self.emp_password
    
    __password = ""
    
    def facebook_user(user_name, id_name, password):
        return name, id_name, password
    
    def employee(name, dept, project, project_leader):
        return name, dept, salary, bonus, project, project_leader
    
    def branch(branch_name, branch_manager, state, total_emp):
        return branch_name, branch_manager, state, total_emp
    
    def salary(salary, bonus, overtime):
        return salary, bonus, overtime

In [69]:
ds = data_science('Malinga',"abcd123","qwerty@123")
ds

In [70]:
#numoy__________________________________________________

In [71]:
import numpy as np